<div class="container">
  <h2>Your items!</h2>
  <!-- menu?! -->
  <ul class="items">
    {{#each model as |item|}}
      <li id="item-{{item.code}}">
        <strong>{{item.code}}</strong>
                    ➠
                    {{#if item.isURL}}
                        <a href="{{item.content}}" target="_blank">{{item.content}}</a>
                    {{else}}
                        {{item.content}}
                    {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
