<div class="container">
  <h2>Your items!</h2>
  <div class="items-sort">
    Sort:
    <a href="#">Recent</a>
    |
    <a href="#">Popular</a>
  </div>
  <hr>
  <ul class="items">
    {{#each model as |item|}}
      <li id="item-{{item.code}}" class="itemtype-{{item.type}}">

        <strong>{{item.code}}</strong>

        {{#if item.isURL}}
          <a href="{{item.payload}}" target="_blank">{{item.payload}}</a>
        {{else}}
          {{item.payload}}
        {{/if}}

        <span>{{item.views}}</span>
        <span>{{item.created}}</span>
      </li>
    {{/each}}
  </ul>
</div>
