<div class="container">
  <h2>Your items!</h2>
  <div class="items-sort">
    Sort:
    <a href="#">Recent</a>
    |
    <a href="#">Popular</a>
  </div>
  <hr>
  <table class="items-list">
    {{#each model as |item|}}
      <tr id="item-{{item.code}}" class="itemtype-{{item.type}}">

        <td>{{item.code}}</td>

        <td class="item-payload">
        {{#if item.isURL}}
          <a href="{{item.payload}}" target="_blank">{{item.payload}}</a>
        {{else}}
          {{item.payload}}
        {{/if}}
        </td>

        <td class="item-views">{{item.views}}</td>
        <td>{{item.created}}</td>
      </tr>
    {{/each}}
  </table>
</div>
