<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#each model as |item|}}
                <div class="item" id="item-{{item.code}}">
                    <strong>{{item.code}}</strong>
                    ➠ 
                    {{#if item.isURL}}
                        <a href="{{item.content}}" target="_blank">{{item.content}}</a>
                    {{else}}
                        {{item.content}}
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
