<div class="container">
    <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group">
              <label for="codeInput">Code</label>
              <input type="text" class="form-control" id="codeInput" placeholder="Code">
            </div>
            <div class="form-group">
              <label for="contentInput">Content</label>
              <textarea class="form-control" id="contentInput" rows=6 placeholder="the content goes here" />
            </div>
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="0" >
                  URL
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="1">
                  Text
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#each model as |item|}}
                <div class="item" id="item-{{item.code}}">
                    <strong>{{item.code}}</strong>
                    ➠ 
                    {{#if item.isURL}}
                        <a href="{{item.content}}" target="_blank">{{item.content}}</a>
                    {{else}}
                        {{item.content}}
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
