<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#each model as |item|}}
                <div class="item" id="item-{{item.code}}">
                    <strong>{{item.code}}</strong>
                    ➠
                    {{#if item.isURL}}
                        <a href="{{item.payload}}" target="_blank">{{item.payload}}</a>
                    {{else}}
                        {{item.payload}}
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
